<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span4 offset3 form-horizontal">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <%= f.text_field :email, class: "input-xlarge", placeholder: "Email" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
          <br> <br>
          New user? <%= link_to "Sign up!", signup_path %>
        </div>
      </div>
    <% end %>

    
  </div>
</div>