<%= render 'shared/error_messages', object: f.object %>
<p><%= f.text_field :name, class: "input-xlarge", placeholder: "Name" %></p>
<p><%= f.text_field :email, class: "input-xlarge", placeholder: "Email" %></p>
<p><%= f.password_field :password, class: "input-xlarge", placeholder: "Password" %></p>
<p><%= f.password_field :password_confirmation, class: "input-xlarge", placeholder: "Re-type Password" %></p>