<% provide(:title, @user.name) %>



<div class="row">
	<h1>Property Listings</h1>


    <div class="span11">
    	
  	    <%= link_to "Add Property", addproperty_path, class: "btn btn-large btn-primary" %>

	    <% if @property.count == 0 %>
	    <% else %>
	    	<div class="span11">
				<table class="table table-striped table-condensed">
					<thead>
					    <tr>
					      	<th>Preview</th>
					        <th><%= sortable "price" %></th>
					        <th><%= sortable "address" %></th>
					        <th><%= sortable "style" %></th>
					        <th><%= sortable "beds", "Bed" %></th>
				        	<th><%= sortable "baths", "Bath" %></th>                                          
				    	</tr>
					</thead>   
					<tbody>
				    	<%= render @property %>
					</tbody>
				</table>
			</div>    
	    <% end %>
  	
	</div>
</div>