<%= render 'shared/error_messages', object: f.object %>
<div class="control-group">
	<label class="control-label">Address</label>
    <div class="controls">
		<%= f.text_field :address, class: "input-xlarge", placeholder: "Address, Required" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Price</label>
    <div class="controls">
		<%= f.text_field :price, class: "input-xlarge", placeholder: "Price" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Style</label>
    <div class="controls">
		<%= f.text_field :style, class: "input-xlarge", placeholder: "Style" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Beds</label>
    <div class="controls">
		<%= f.text_field :beds, class: "input-xlarge", placeholder: "Beds" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Baths</label>
    <div class="controls">
		<%= f.text_field :baths, class: "input-xlarge", placeholder: "Baths" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Contact Name</label>
    <div class="controls">
		<%= f.text_field :contact_name, class: "input-xlarge", placeholder: "Contact Name" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Contact Email</label>
    <div class="controls">
		<%= f.text_field :contact_email, class: "input-xlarge", placeholder: "Contact Email" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Contact Phone</label>
    <div class="controls">
		<%= f.text_field :contact_phone, class: "input-xlarge", placeholder: "Contact Phone Number" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Notes</label>
    <div class="controls">
		<%= f.text_area :notes, rows: "7", class: "input-xlarge", placeholder: "Notes" %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">Image Upload</label>
    <div class="controls">
		<%= f.file_field :image %>
    </div>
</div>
<div class="control-group">
	<label class="control-label">OR Image URL</label>
    <div class="controls">
		<%= f.text_field :remote_image_url, class: "input-xlarge", placeholder: "OR Image URL"%>
    </div>
</div>
