<%= render 'shared/error_messages', object: f.object %>
<p><%= f.text_field :address, class: "input-xlarge", placeholder: "Address, Required" %></p>
<p><%= f.text_field :price, class: "input-xlarge", placeholder: "Price" %></p>
<p><%= f.text_field :style, class: "input-xlarge", placeholder: "Style" %></p>
<p><%= f.text_field :beds, class: "input-xlarge", placeholder: "Beds" %></p>
<p><%= f.text_field :baths, class: "input-xlarge", placeholder: "Baths" %></p>
<p><%= f.text_field :contact_name, class: "input-xlarge", placeholder: "Contact Name" %></p>
<p><%= f.text_field :contact_email, class: "input-xlarge", placeholder: "Contact Email" %></p>
<p><%= f.text_field :contact_phone, class: "input-xlarge", placeholder: "Contact Phone Number" %></p>
<p><%= f.text_area :notes, rows: "7", class: "input-xlarge", placeholder: "Notes" %></p>