<%= render 'shared/error_messages', object: f.object %>

<div class="control-group">
  <div class="controls">
    <%= f.text_field :address, class: "span3 required", placeholder: "Required: Street, City, Province/State" %>
  </div>
  <label class="control-label">Address</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :price, class: "span3 required", placeholder: "e.g. 100000" %>
  </div>
  <label class="control-label">Price</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :style, class: "span3 required", placeholder: "e.g. house, condo" %>
  </div>
  <label class="control-label">Style</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :beds, class: "span3 required", placeholder: "e.g. 3" %>
  </div>
  <label class="control-label">Beds</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :baths, class: "span3 required", placeholder: "e.g. 2" %>
  </div>
  <label class="control-label">Baths</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :contact_name, class: "span3 required", placeholder: "e.g. Jane Smith" %>
  </div>
  <label class="control-label">Contact Name</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :contact_email, class: "span3 required", placeholder: "e.g. jane@gmail.com" %>
  </div>
  <label class="control-label">Contact Email</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :contact_phone, class: "span3 required", placeholder: "e.g. 1231231234" %>
  </div>
  <label class="control-label">Contact Phone</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_area :notes, rows: "7", class: "span3 required", placeholder: "Your notes here." %>
  </div>
  <label class="control-label">Notes</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.file_field :image, class: "span3 required" %>
  </div>
  <label class="control-label">&nbsp;&nbsp;&nbsp;Image Upload</label>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.text_field :remote_image_url, class: "span3 required", placeholder: "http://www.domain.com/img.jpg" %>
  </div>
  <label class="control-label">OR Image URL</label>
</div>
