<tr>
	<td class="thumbnail"><a href="<%= property_path(property.id) %>"><%= image_tag property.image_url(:thumb).to_s, class: "thumbnail" %></a></td>
    <td><%= number_to_currency(property.price, precision: 0) %></td>
    <td><%= property.address %></td>
    <td><%= property.style %></td>   
    <td><%= property.beds %></td>
    <td><%= property.baths %></td>                                 
</tr>