<% provide(:title, 'Contact Us') %>

    <!--main tagline area-->
    <section class="taglineWrap">
      <div class="container">
        <div class="row-fluid  tagline">
          <div class="span12"><h2>If you have questions or comments feel free to send us a message below!</h2></div>
          
        </div>
      </div> <!-- /container -->
    </section>



 <section class="mainContentWrap">
      <div class="container mainContent">
        <div class="row-fluid">
          <div class="span9">
            <div class="row-fluid">
              <div class="innerSpacer">
                

                <!--contact form-->
                <div class="row-fluid">
                  <div class="span12 contact">
                    <h1>Contact Us</h1>
                   
                    <%= form_for(:message, url: contact_path) do |f| %>
                                  
                      <div class="control-group">
                          <div class="controls">
                                <%= f.text_field :name, class: "span5 required", placeholder: "e.g. John Smith" %>
                          </div>
                          <label class="control-label" for="name">Name</label>
                      </div>
                          
                      <div class="control-group">
                          <div class="controls">
                            <%= f.text_field :email, class: "span5 required", placeholder: "e.g. john@gmail.com" %>
                          </div>
                            <label class="control-label" for="email">Email</label>
                      </div>
                          
                      <div class="control-group">
                          <div class="controls">
                            <%= f.text_field :subject, class: "span5 required",  placeholder: "Enter subject" %>
                          </div>
                          <label class="control-label" for="subject">Subject</label>
                      </div>
                          
                      <div class="control-group">
                      	<%= f.text_area :body, cols: "45", rows: "8", class: "span7 required", placeholder: "Your message here" %>
                      </div>
                      
                      <%= f.submit "Send", class: "btn btn-success" %>
                          
                          
                    <% end %>
                    
                   
                    
                  </div>
                </div>
                <!--end contact form-->
                
                
                
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>