<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
 		<!-- <%= stylesheet_link_tag    "application", :media => "all" %> -->
    <%= stylesheet_link_tag    "mentor.min", :media => "all" %>
    <%= stylesheet_link_tag    "skin_blue", :media => "all" %>
    <%= stylesheet_link_tag "gmaps4rails" %>
 		<%= javascript_include_tag "application"  %>
 		<%= csrf_meta_tags %>
    <!-- CSS styles -->
    <!--Skins: uncomment to activate-->
    <!--<link href="css/skin_orange.css" rel="stylesheet"/>-->


  <!-- http://remysharp.com/2009/01/07/html5-enabling-script/ -->
  <!--[if lt IE 9]>
    <script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
  <![endif]-->
  <script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <!-- favicon & iSO touch icons -->
    <link rel="shortcut icon" href="favicon.jpg" />
    <%= yield :head %>
	</head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/header' %>
    
      
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>
